<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pay.mybatis.PayPaymentMapper">

	<sql id="commCols">
		id id, user_id userId, order_no orderNo, order_type orderType, trade_time tradeTime, pay_way payWay,
		trade_no tradeNo, trade_amount tradeAmount, trade_finish_time tradeFinishTime, trade_status tradeStatus,
		third_trade_amount thirdTradeAmount, third_trade_no thirdTradeNo, trade_desc tradeDesc, notify_url notifyUrl,
		mch_id mchId, create_time createTime, update_time updateTime
	</sql>

	<insert id="save" parameterType="payPayment" flushCache="true" useGeneratedKeys="true" keyProperty="id">
		 insert into pay_payment(user_id, order_no, order_type, trade_time, pay_way, trade_no, trade_amount,
		 	trade_finish_time, trade_status, third_trade_amount, third_trade_no, trade_desc, notify_url, mch_id, create_time, update_time)
		 values(#{userId}, #{orderNo}, #{orderType}, #{tradeTime}, #{payWay}, #{tradeNo}, #{tradeAmount},
		  	#{tradeFinishTime},#{tradeStatus},#{thirdTradeAmount},#{thirdTradeNo},#{tradeDesc},#{notifyUrl},#{mchId}, NOW(), NOW())
	</insert>

	<select id="findByOrderNo" resultType="payPayment">
		select <include refid="commCols"/> from pay_payment WHERE order_no = #{orderNo} AND mch_id = #{mchId}
	</select>

</mapper>
