<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pay.mybatis.PayRefundMapper">

	<sql id="commCols">
		id id, user_id userId, refund_time refundTime, pay_way payWay,
		trade_no tradeNo, refund_amount refundAmount, refund_finish_time refundFinishTime, refund_status refundStatus,
		third_refund_no thirdRefundNo, refund_desc refundDesc, notify_url notifyUrl,
		mch_id mchId, notify_code notifyCode, create_time createTime, update_time updateTime
	</sql>

	<insert id="save" parameterType="com.pay.domain.PayRefund" flushCache="true" useGeneratedKeys="true" keyProperty="id">
		 insert into pay_refund(user_id, refund_time, pay_way, trade_no, refund_amount,
		 	refund_finish_time, refund_status, third_refund_no, refund_desc, notify_url, mch_id, notify_code, create_time, update_time)
		 values(#{userId},#{refundTime}, #{payWay}, #{tradeNo}, #{refundAmount},
		  	#{refundFinishTime},#{refundStatus},#{thirdRefundNo},#{refundDesc},#{notifyUrl},#{mchId}, #{notifyCode}, NOW(), NOW())
	</insert>

	<select id="findByTradeNo" resultType="com.pay.domain.PayRefund">
		select <include refid="commCols"/> from pay_refund WHERE trade_no = #{tradeNo}
	</select>

	<select id="findByRefundNo" resultType="com.pay.domain.PayRefund">
		select <include refid="commCols"/> from pay_refund WHERE refund_no = #{refundNo}
	</select>

<!--
	<select id="findByTradeNo" resultType="payRefund">
		select <include refid="commCols"/> from pay_refund WHERE trade_no = #{tradeNo}
	</select>-->

	<update id="update" parameterType="com.pay.domain.PayRefund" flushCache="true">
		update pay_refund
		<set>
			<if test="userId != null">
				user_id = #{userId},
			</if>
			<if test="refundTime != null">
				refund_time = #{refundTime},
			</if>
			<if test="payWay != null">
				pay_way = #{payWay},
			</if>
			<if test="tradeNo != null">
				trade_no = #{tradeNo},
			</if>
			<if test="refundAmount != null">
				refund_amount = #{refundAmount},
			</if>
			<if test="refundFinishTime != null">
				refund_finish_time = #{refundFinishTime},
			</if>
			<if test="refundStatus != null">
				refund_status = #{refundStatus},
			</if>
			<if test="thirdRefundNo != null">
				third_refund_no = #{thirdRefundNo},
			</if>
			<if test="refundDesc != null">
				refund_desc = #{refundDesc},
			</if>
			<if test="notifyCode != null">
				notify_code = #{notifyCode},
			</if>
			update_time = NOW()
		</set>
		<where>id=#{id}</where>
	</update>

	<select id="count" resultType="long">
		select count(*) from pay_refund
		<where>
			1= 1
			<if test="mchId != null and mchId != ''">
				and mch_id=#{mchId}
			</if>
			<if test="userId != null and userId != ''">
				and user_id=#{userId}
			</if>
			<if test="orderNo != null and orderNo != ''">
				and order_no=#{orderNo}
			</if>
			<if test="orderType != null">
				and order_type=#{orderType}
			</if>
			<if test="payWay != null">
				and pay_way=#{payWay}
			</if>
			<if test="tradeNo != null and tradeNo != ''">
				and trade_no=#{tradeNo}
			</if>
			<if test="thirdTradeNo != null and thirdTradeNo != ''">
				and third_trade_no=#{thirdTradeNo}
			</if>
			<if test="refundStatus != null">
				and refund_status=#{refundStatus}
			</if>
			<if test="refundNo != null">
				and refund_no=#{refundNo}
			</if>
			<if test="refundTime != null">
				and refund_time=#{refundTime}
			</if>
			<if test="thirdRefundNo != null">
				and third_refund_no=#{thirdRefundNo}
			</if>
		</where>
	</select>

	<select id="query" resultType="com.pay.domain.PayPayment">
		select <include refid="commCols"/> from pay_refund
		<where>
			1= 1
			<if test="mchId != null and mchId != ''">
				and mch_id=#{mchId}
			</if>
			<if test="userId != null and userId != ''">
				and user_id=#{userId}
			</if>
			<if test="orderNo != null and orderNo != ''">
				and order_no=#{orderNo}
			</if>
			<if test="orderType != null">
				and order_type=#{orderType}
			</if>
			<if test="payWay != null">
				and pay_way=#{payWay}
			</if>
			<if test="tradeNo != null and tradeNo != ''">
				and trade_no=#{tradeNo}
			</if>
			<if test="thirdTradeNo != null and thirdTradeNo != ''">
				and third_trade_no=#{thirdTradeNo}
			</if>
			<if test="refundStatus != null">
				and refund_status=#{refundStatus}
			</if>
			<if test="refundNo != null">
				and refund_no=#{refundNo}
			</if>
			<if test="refundTime != null">
				and refund_time=#{refundTime}
			</if>
			<if test="thirdRefundNo != null">
				and third_refund_no=#{thirdRefundNo}
			</if>
		</where>
		LIMIT #{pageNum}, #{pageSize}
	</select>

</mapper>
