<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.schemea.hyb.com/schema/job"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
         http://www.schemea.hyb.com/schema/job http://www.schemea.hyb.com/schema/job/job.xsd
         "
	default-autowire="byName">

	<!-- 预支付job -->
	<job id="payJob" class="com.framework.process.SimpleJob">
		<context name="jobContext" class="com.framework.process.DefaultJobContext">
			<node name="PayCheckNode" class="com.pay.biz.handler.node.PayCheckNode">
				<decision name="payWay" expression="#{'payWay_' + domain.payWay}" />
				<!-- 微信app渠道 -->
				<node name="payWay_16" class="com.pay.biz.handler.node.wx.WXPayNode" />
				<!-- 微信app渠道 -->
				<node name="payWay_18" class="com.pay.biz.handler.node.wx.WXPayNode" />
				<!-- 微信公众号渠道 -->
				<node name="payWay_14" class="com.pay.biz.handler.node.wx.WXPublicPayNode" />
				<!-- 支付宝app -->
				<node name="payWay_11" class="com.pay.biz.handler.node.ali.AliAppPayNode" />
				<!-- 支付宝app -->
				<node name="payWay_10" class="com.pay.biz.handler.node.ali.AliPagePayNode" />
				<!-- 支付宝Wap -->
				<node name="payWay_12" class="com.pay.biz.handler.node.ali.AliWapPayNode" />
			</node>
		</context>
	</job>

	<!-- 支付完成job -->
	<job id="finishJob" class="com.framework.process.SimpleJob">
		<context name="jobContext" class="com.framework.process.DefaultJobContext">
			<node name="PayFinishNode" class="com.pay.biz.handler.node.PayFinishNode">
				<node name="PayNotifyNode" class="com.pay.biz.handler.node.PayNotifyNode" />
			</node>
		</context>
	</job>

	<!-- 退款请求Job -->
	<job id="refundJob" class="com.framework.process.SimpleJob">
		<context name="jobContext" class="com.framework.process.DefaultJobContext">
			<node name="RefundCheckNode" class="com.pay.biz.handler.node.RefundCheckNode">
				<decision name="payWay" expression="#{domain.payChannel}" />
				<node name="WX" class="com.pay.biz.handler.node.wx.WXRefundNode">
					<node name="RefundUpdateNode" class="com.pay.biz.handler.node.RefundFinishNode" />
				</node>
				<node name="ALI" class="com.pay.biz.handler.node.ali.AliRefundNode">
					<node name="RefundUpdateNode" class="com.pay.biz.handler.node.RefundFinishNode" />
				</node>
			</node>
		</context>
	</job>


	<!-- 对账单job -->
	<job id="downloadJob" class="com.framework.process.SimpleJob">
		<context name="jobContext" class="com.framework.process.DefaultJobContext">
			<node name="PayCheckNode" class="com.pay.biz.handler.node.DownloadCheckNode">
				<decision name="payWay" expression="#{domain.payChannel}" />
				<!-- 微信渠道 -->
				<node name="WX" class="com.pay.biz.handler.node.wx.WxDownloadBillNode" />
				<!--<node name="payWay_16" class="com.pay.biz.handler.node.wx.WxDownloadBillNode" />
				<node name="payWay_18" class="com.pay.biz.handler.node.wx.WxDownloadBillNode" />-->
				<!-- alipay -->
				<node name="ALI" class="com.pay.biz.handler.node.ali.AliPayDownLoadBillNode" />
			</node>
		</context>
	</job>
</beans:beans>